$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('image2.jpg');
  background-size: cover;
  height: 470px;
}

.jumbotron h1 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

footer {
  height: 60px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid black;
  flex-shrink: none;
  background: linear-gradient(180.3deg, rgb(221, 221, 221) 5.5%, rgb(110, 136, 161) 90.2%);
}

footer a {
  color: #eaf6f6;
}

footer a:hover {
  color: #00204a;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: bold;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.badge {
  background-color: #CEF6F5;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.input_checkbox input {
  width: auto !important;
}

#scrollspyHeading1 {
  font-weight: bold;
  font-size: 4.0em;
  color: #8A2BE2;
  border-bottom: 2px solid #f00
   
}

#scrollspyHeading1:hover {
  text-decoration: none;
}


.scrollspyHeading {
  font-weight: bold;
  font-size: 2.5em;
  color: Coral;
}

.scrollspyHeading:hover {
  text-decoration: underline 2px #8A2BE2;
}